:root {
    --dark-background-color: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --button: #3882F6;
    --information-header: #1F2937;
    --quote-background-color: #E5E7EB;
    --quote-text: #1F2937;
    --hero-text: 24px;
    --hero-header: 48px;
    --hero-secondary: 18px;
    --information-header: 36px;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    
}
.intro {
    padding: 0 20% 10%;
    background-color: var(--dark-background-color);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}
.header p {
    color: var(--hero-main-text);
    font-weight: 900;
    font-size: var(--hero-text);
}
.links a{
    margin-left: 10px;
    color: var(--hero-secondary-text);
    text-decoration: none;
}
.hero {
    display: flex;
    gap: 7%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-content: center;

}
.hero h1 { 
    font-size: var(--hero-header);
    color: var(--hero-main-text); 
    font-weight: 900;
    margin: 0;
}
.hero p {
    color: var(--hero-secondary-text);
    margin-top: 0;
    font-size: var(--hero-secondary);

}
.hero button {
    padding: 7px 25px;
    border-radius: 5px;
    background-color: var(--button);
    color: var(--hero-secondary-text);
    border: none;
}
.hero img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--hero-secondary-text);
    background-color: gray;
    padding: 3%;
}


.information {
    padding: 2% 20% 4%;
    text-align: center;
}
.information h1 {
    font-size: var(--information-header);
    color: var(--information-header);
    font-weight: 900;
}
.item {
   width: 200px;
}
.squares {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.square {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: solid 4px var(--button);
}
.quote {
    padding: 5% 22%;
    background-color: var(--quote-background-color);
    display: flex;
    flex-direction: column;
}
.quote p {
    font-size: var(--information-header);
    font-weight: 300;
    color: var(--quote-text);
}
.quote #author {
    font-weight: 900;
    font-size: 18px;
    align-self: flex-end;
}
.call {
    margin: 5% 20%;
    padding: 2% 7%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button);
    color: var(--hero-secondary-text);
}
.call h1{
    color: var(--hero-main-text)
}
.call button {
    border: solid 2px var(--hero-main-text);
    border-radius: 5px;
    background-color: var(--button);
    color: var(--hero-secondary-text);
    padding: 1% 5%;
    font-weight: 900;
}
.footer {
    padding: 2% 20%; 
    background-color: var(--dark-background-color);
    color: var(--hero-secondary-text);
    text-align: center;
}
