:root {
    --dark-background-color: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --button: #3882F6;
    --information-header: #1F2937;
    --quote-background-color: #E5E7EB;
    --quote-text: #1F2937;
    --hero-text: 24px;
    --hero-header: 48px;
    --hero-secondary: 18px;
    --information-header: 36px;
    --padding-horizontal: 20%;
    --border-radius: 5px;
    --font-weight-bold: 900;
    --item-size: 200px;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.intro-section {
    padding: 0 var(--padding-horizontal) 10%;
    background-color: var(--dark-background-color);
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}

.site-header__logo-text {
    color: var(--hero-main-text);
    font-weight: var(--font-weight-bold);
    font-size: var(--hero-text);
}

.site-nav__link {
    margin-left: 10px;
    color: var(--hero-secondary-text);
    text-decoration: none;
}

.hero-section {
    display: flex;
    gap: 7%;
    justify-content: space-between;
    align-content: center;
}

.hero-section__title { 
    font-size: var(--hero-header);
    color: var(--hero-main-text); 
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.hero-section__description {
    color: var(--hero-secondary-text);
    margin-top: 0;
    font-size: var(--hero-secondary);
}

.hero-section__cta-button {
    padding: 7px 25px;
    border-radius: var(--border-radius);
    background-color: var(--button);
    color: var(--hero-secondary-text);
    border: none;
}

.hero-section__image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--hero-secondary-text);
    background-color: gray;
    padding: 3%;
}

.features-section {
    padding: 2% var(--padding-horizontal) 4%;
    text-align: center;
}

.features-section__title {
    font-size: var(--information-header);
    color: var(--information-header);
    font-weight: var(--font-weight-bold);
}

.feature-card {
   width: var(--item-size);
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.feature-card__icon {
    width: var(--item-size);
    height: var(--item-size);
    border-radius: var(--border-radius);
    border: solid 4px var(--button);
}

.testimonial-section {
    padding: 5% 22%;
    background-color: var(--quote-background-color);
    display: flex;
    flex-direction: column;
}

.testimonial__text {
    font-size: var(--information-header);
    font-weight: 300;
    color: var(--quote-text);
}

.testimonial__author {
    font-weight: var(--font-weight-bold);
    font-size: var(--hero-secondary);
    align-self: flex-end;
}

.cta-section {
    margin: 5% var(--padding-horizontal);
    padding: 2% 7%;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button);
    color: var(--hero-secondary-text);
}

.cta-section__title {
    color: var(--hero-main-text)
}

.cta-section__button {
    border: solid 2px var(--hero-main-text);
    border-radius: var(--border-radius);
    background-color: var(--button);
    color: var(--hero-secondary-text);
    padding: 1% 5%;
    font-weight: var(--font-weight-bold);
}

.site-footer {
    padding: 2% var(--padding-horizontal); 
    background-color: var(--dark-background-color);
    color: var(--hero-secondary-text);
    text-align: center;
}
